.sidenav {
    height: 100%;
    width: 230px;
    margin-top: 51px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.radio-btn {
    padding: 15px 0;
}

.radio {
    color: #fff;
    width: 100%;
}

.main {
    margin-left: 230px;
    /* Same as the width of the sidenav */
    padding: 0px 10px;
}

.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}
.contactus .glyphicon{
    font-size: 30px;
}


@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
